datasets==2.19.0
gymnasium==0.29.1
h5py==3.11.0
hid==1.0.6
imageio==2.34.1
imitation==1.0.0
matplotlib==3.7.5
mujoco==3.1.4
networkx==3.1
numpy==1.24.4
open3d==0.17.0
opencv_python==4.9.0.80
Pillow==10.3.0
pybullet==3.2.6
pynput==1.7.6
PyOpenGL==3.1.7
PyOpenGL==3.1.7
setuptools==68.2.2
sphinx_book_theme==1.1.2
stable_baselines3==2.3.2
termcolor==2.4.0
torch==2.2.2
